<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
    <h1> FOS Firewall Policy Parameters </h1>

    <pre>
    {{ fosstats['meta']['results'] | to_nice_json | default("I know nothing about your stats") }}
    </pre>


 

  </body>
</html>