<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
    <h1> FOS Stats </h1>
    {{ fosstats |tojson_pretty | safe | default("I know nothing about your stats") }}
    <h1> FOS Facts </h1>
    {{ fosfacts | tojson_pretty | safe | default("I know nothing about your facts") }}
  </body>
</html>