<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
    <h1> FOS Stats </h1>
    
    

    <pre id="myText" ></pre>

    <script>
    var data = { {{ fosstats }} };

    document.getElementById("myText").innerHTML = JSON.stringify(data, null, 4);
    
  </script>



 <!--   {{ fosstats | to_nice_json | default("I know nothing about your stats") }} --> 

  </body>
</html>